
/*
** Page layout
*/
#page {
  width: 80em;
  margin: 0 auto;
  outline: 1px solid #ccc;
  padding: 2em;
}

#page-content-wrapper,
#blocks-left,
#blocks-right {
  float: left; /* LTR */
}
#page-content-wrapper {
  width: 80em;
}
#blocks-left,
#blocks-right {
  width: 15em;
}

.one-sidebar #page-content-wrapper {
  width: 63em; /* 80 (full width) - 15 (left sidebars) - 2 (margin) */
}
.one-sidebar #blocks-left {
  margin-left: -80em; /* LTR, 63 (content) + 15 (left sidebars) + 2 (margin) */
}
.sidebar-left #page-content-wrapper {
  margin-left: 17em; /* LTR, 15 (sidebar) + 2 (margin) */
}

.two-sidebars #page-content-wrapper {
  width: 46em; /* 80 (full width) - 30 (two sidebars) - 4 (all margins) */
}
.two-sidebars #page-content-wrapper {
  margin-left: 17em; /* LTR, 15 (sidebar) + 2 (margin) */
}
.two-sidebars #blocks-left {
  margin-left: -63em; /* LTR, 46 (content) + 15 (sidebar) + 2 (margin) */
}

.sidebar-right #blocks-right,
.two-sidebars #blocks-right {
  margin-left: 2em; /* LTR */
}


/*
** links
*/
a {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/*
** applies to site links and tabs (local tasks).
*/
ul.primary,
ul.secondary {
  margin: 0 0 1.5em;
}
ul.secondary {
  margin-top: -1.5em;
}
.primary li,
.secondary li {
  display: inline;
  list-style-type: none;
  padding: 0 .5em;
}
.primary a.active,
.secondary a.active {
  text-decoration: underline;
}

/*
** site header
*/
#site-branding {
  margin-bottom: 1.5em;
}
#site-branding {
  float: left; /* LTR */
}
#site-id,
.site-slogan {
  margin: 0;
}
#site-id a {
  text-decoration: none;
}
#site-id img {
  vertical-align: -1em;
}

#site-navigation {
  float: right; /* LTR */
}
#site-navigation {
  margin-bottom: 1.5em;
}
#search-theme-form {
  margin-bottom: .5em;
}


#page-header,
#page-content-wrapper,
#blocks-footer,
#footer-message {
  clear: both;
}

#page-header,
#site-mission {
  margin-bottom: 1.5em;
}

#page-content-wrapper,
#blocks-left,
#blocks-right {
  margin-top: 1.5em;
}
/*
** Status messages. These also apply in forms.
*/
ul.messages {
  padding: 0 1em;
  margin: 0;
}
.status-messages,
form div.warning {
  margin-bottom: 1.5em;
}
.messages li {
  margin: 0;
  list-style-type: none;
  text-overflow: ellipsis;
  overflow: hidden;
}
.messages li:hover {
  overflow: visible;
}


/*
** content header
*/
#content-header,
ul.tabs {
  margin-bottom: 1.5em;
}
.breadcrumb {
  word-spacing: .3em;
  margin-top: -1.5em;
  margin-bottom: 1.5em;
}
.help {
  margin-bottom: 1.5em;
}

.meta {
  margin-bottom: 1.5em;
}

/* blocks */
.blocks {
  margin-bottom: 1.5em;
}
.block-content {
  margin-bottom: 1.5em;
}

a.feed-icon {
  display: block;
  min-height: 1.5em;
}
a.feed-icon img {
  display: block;
}

/* pager */
.item-list ul.pager {
  margin-bottom: 1.5em;
}
ul.pager,
ul.pager li {
  display:inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.pager a,
ul.pager li.pager-current {
  padding: 0 5px;
}
