/* Sets up some sensible default typography. */

/*
** Default typographic settings. 
** The font-size percentage is taken from the browser default of 16px.
**
**   75% x 16px = 12px
**
** The line-height of 1.5 set with an explicit em unit so the computed height
** is precalculated based on what's set here then inherited onto all decending
** elements. This helps maintain a baseline vertical grid or "typographic
** rhythm". Font sizes within 12px and 17px will use the default base line-
** height. Anything outside of this range should use an alternate line-height
** in multiples of 6. Multiples of 3 can also be used for smaller font sizes.
**
**   1.5em x 12px (base font size) = 18px (line-height)
*/
body {
  font-size: 75%; /* 12px (Using percent for IE6.) */
  line-height: 1.5em; /* 18px */
  font-family: Helvetica, Arial, sans-serif;
}
html>body {
  font-size: 12px; /* 12px set for more compliant browsers. */
}

/*
** Sizes follow a typographic scale.
**
** Headings 1 to 3 fall outside of the base line-height due to the larger font
** sizes. Margins are also adjusted since it is calculated based on size. Top
** and bottom margins are asymmetric for closer proximity to any content below
** them.
*/
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
h1 {
  font-size: 2em; /* 24px */
  line-height: 1.25em; /* 30px */
  margin: .75em 0 .25em; /* 18px 6px */
}
h2 {
  font-size: 1.75em; /* 21px */
  line-height: 1.1429em; /* 24px */
  margin: .8571em 0 .2857em; /* 18px 6px */
}
h3 {
  font-size: 1.5em; /* 18px */
  line-height: 1.3333em; /* 24px */
  margin: 1em 0 .3333em; /* 18px 6px */
}
h4 {
  font-size: 1.3333em; /* 16px */
  margin: 1.125em 0 .375em; /* 18px 6px */
}
h5,h6 {
  font-size: 1.1667em; /* 14px */
  margin: 1.2857em 0 .4286em; /* 18px 6px */
}

/*
** general elements
*/
p,pre,address,blockquote {
  margin-bottom: 1.5em;
}
address,blockquote,em,dfn,sup,sub {
  font-style: italic;
}
strong,dfn {
  font-weight: bold;
}
sup,sub {
  line-height: 0;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
abbr,acronym {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
pre {
  white-space: pre;
}
pre,code,tt {
  font-family: 'andale mono', 'lucida console', monospace;
}
em {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*
** misc classes
** Type set below 12px set to a 15px line-height.
*/
.small {
  font-size: 0.9167em; /* 11px */
  line-height: 1.3636em; /* 15px */
  margin-bottom: 1.6364em; /* 18px */
}
.smaller {
  font-size: 0.8333em; /* 10px */
  line-height: 1.5em; /* 15px */
  margin-bottom: 1.8em; /* 18px */
}
.tiny {
  font-size: 0.75em; /* 9px */
  line-height: 1.6667em; /* 15px */
  margin-bottom: 1.6667em; /* 15px */
}