
table.forum-list td.forum .name,
table.forum-list td.forum .description {
  padding: 0 24px 0 0;
}
table.forum-list td.forum .name {
  background-position: 100% .1em;
}
table.forum-list div.indent {
  margin: 0 24px 0 0;
}
.forum-topic-navigation .topic-previous {
  float: right;
}
.forum-topic-navigation .topic-next {
  float: left;
}
