
ul.forum-post-links {
  margin-bottom: 1.5em;
}

table.forum-list td.container .name {
  font-size: 1.3333em; /* 16px */
}
table.forum-list td.forum .name {
  font-size: 1.1667em; /* 14px */
}
table.forum-list td.forum .name,
table.forum-list td.forum .description {
  padding: 0 0 0 24px; /* LTR */
}
table.forum-list td.forum .name {
  background-position: 0 .1em; /* LTR */
  background-image: url(../misc/forum-default.png);
  background-repeat: no-repeat;
}
table.forum-list tr.new-topics .name {
  background-image: url(../misc/forum-new.png);
}
table.forum-list div.indent {
  margin: 0 0 0 24px; /* LTR */
}

table.forum-topic-list td.icon {
  width: 16px;
}


.forum-topic-navigation {
  border-style: solid;
  border-width: .0833em; /* 1px */
  border-right-style: none;
  border-left-style: none;
  padding: .4167em 0; /* 11px 5px */
  margin-bottom: 1.5em;
}
.forum-topic-navigation .topic-previous,
.forum-topic-navigation .topic-next {
  font-size: 1.1667em; /* 14px */
  padding: .4286em; /* 6px */
}
.forum-topic-navigation .topic-previous {
  float: left; /* LTR */
}
.forum-topic-navigation .topic-next {
  float: right; /* LTR */
}
