
/* For the block administration page only. */

#blocks td.region {
  border-bottom-style: solid;
  border-bottom-width: .0833em; /* 1px */
  font-size: 1.3333em; /* 16px */
  padding-top: 1.125em; /* 18px */
  padding-bottom: .3453em; /* 5px */
  
}
#blocks tr.region-message {
  color: #999;
}
#blocks tr.region-populated {
  display: none;
}

.blocks .block-region {
  padding: 0 10px;
  background-color: #fad67e;
}
