
.book-navigation {
  border-style: solid;
  border-width: .0833em; /* 1px */
  border-right-style: none;
  border-left-style: none;
  padding: .9167em 0 .4167em; /* 11px 5px */
  margin-bottom: 1.5em;
}
.book-navigation ul.menu {
  margin-left: 1.5em; /* LTR */
}
.book-navigation .page-previous {
  float: left; /* LTR */
}
.book-navigation .page-next {
  float: right; /* LTR */
}
.book-navigation .page-previous,
.book-navigation .page-up,
.book-navigation .page-next {
  font-size: 1.1667em; /* 14px */
  padding: .4286em; /* 6px */
}
.book-navigation .page-up {
  vertical-align: super;
  line-height: 0;
  margin: 0 1.5em;
}
#edit-book-bid-wrapper .description {
  clear: both;
}
#book-admin-edit tr.ahah-new-content {
  background-color: #ffd;
}
#book-admin-edit .form-element {
  float: left; /* LTR */
}
