
.book-navigation ul.menu {
  margin-left: 0;
  margin-right: 1.5em;
}
.book-navigation .page-previous {
  float: right;
}
.book-navigation .page-next {
  float: left;
}
#book-admin-edit .form-element {
  float: right;
}