
.search-results dt {
  font-size: 1.1667em; /* 14px */
  margin-bottom: 1.2857em; /* 18px */
}
.search-results .search-info {
  font-size: 0.9167em; /* 11px */
  line-height: 1.3636em; /* 15px */
  margin: 1.6364em 0; /* 18px */
}
.search-advanced .criterion {
  float: left; /* LTR */
  margin-right: 2em; /* LTR */
}
.search-advanced .action {
  float: left; /* LTR */
  clear: left; /* LTR */
}
