
/*
** Password strength indicator
*/
span.password-strength,
span.password-confirm {
  visibility: hidden;
  margin: 0 .5em;
}
div.password-description {
  padding: 0 .2em;
  font-size: 0.9167em; /* 11px */
  line-height: 1.3636em; /* 15px */  
}
div.password-description ul {
  margin-bottom: 0;
}
.password-parent {
  margin: 0;
}

/*
** Password confirmation checker
*/
.confirm-parent {
  margin: .5em 0;
}
span.password-confirm {
  visibility: hidden;
}
span.password-confirm span {
  font-weight: normal;
}
