
/*
** Autocomplete styles
*/
/* Suggestion list */
#autocomplete {
  position: absolute;
  z-index: 100;
}
#autocomplete ul {
  margin:0;
  padding: 0;
  list-style: none;
  border-style: solid;
  border-width: .0833em; /* 1px */
}
#autocomplete li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  padding: 0 .3em;
}
/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 3px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -17px; /* LTR */
}
