
/*
** Collapsing fieldsets
*/
html.js fieldset.collapsed {
  padding: 0 1.083em;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
html.js fieldset.collapsed * {
  display: none;
}
html.js fieldset.collapsible legend,
html.js fieldset.collapsible legend a {
  display: block;
}
