
div.indentation {
  float: right;
}
div.tree-child,
div.tree-child-last {
  background-position: -65px center;
}
.draggable a.tabledrag-handle {
  float: right;
  padding-left: 10px;
  padding-right: 5px;
}
