
/*
** Table drag and drop.
*/
body.drag {
  cursor: move;
}
tr.drag {
  background-color: #e6edf2;
}
tr.drag-previous {
  background-color: #ffd;
}
span.tabledrag-changed {
  padding: 0 .5em;
  font-weight: bold;
}

div.indentation {
  width: 23px;
  margin: -.5em 0;
  padding: .5em 0;
  float: left; /* LTR */
}
div.tree-child {
  background: url(../../misc/tree.png) no-repeat 11px center; /* LTR */
}
div.tree-child-last {
  background: url(../../misc/tree-bottom.png) no-repeat 11px center; /* LTR */
}
div.tree-child-horizontal {
  background: url(../../misc/tree.png) no-repeat -11px center;
}

.draggable a.tabledrag-handle {
  cursor: move;
  float: left; /* LTR */
  margin: -.5em 0;
  padding: .5em;
  padding-left: 5px; /* LTR */
  padding-right: 10px; /* LTR */
  text-decoration: none;
}
a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  width: 15px;
  background: url(../../misc/draggable.png) no-repeat 0 2px;
}
a.tabledrag-handle-hover .handle {
  background-position: 0 -18px;
}
