
/*
** Resizable text areas
*/
.resizable-textarea .grippie,
html.js .resizable-textarea textarea {
  width: 100%;
}
.resizable-textarea .grippie {
  height: 10px;
  background: #eee url(../../misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  overflow: hidden;
}
html.js .resizable-textarea {
  margin-bottom: .5em;
}
html.js .resizable-textarea textarea {
  margin-bottom: 0;
  display: block;
}
