
.comment-wrapper {
  margin-bottom: 3em;
}
.comment-wrapper .indented {
  margin: 0 0 0 24px; /* LTR */
}
.comment {
  margin-bottom: 1.5em;
}
.comment .picture {
  float: left; /* LTR */
  margin: 0 1em .5em 0; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.preview .comment {
  background-color: #ffffea;
}
