
/**
 * This file must be included first. See .info.
 *
 * Modifications:
 * - removed html elements. See elements.css.
 * - added resets from Eric Meyer. http://meyerweb.com/eric/tools/css/reset
 *   - some elements removed from reset.
 * - added .clearfix to .clear-block on an improved version.
 */


/* Resets. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/**
 * Tables need cellspacing="0" in the markup. Hexagon does this through a
 * function override. See the system.common-vars.php file.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Markup free clearing
 * was: http://www.positioniseverything.net/easyclearing.html
 * is:  http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack
 *
 * Uses both .clear-block (d6 convention) and .clearfix which is more widely used.
 */
.clear-block:after,
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clear-block,
.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .clear-block,
* html .clearfix {
  height: 1%;
}
.clear-block,
.clearfix {
  display: block;
}
/* End hide from IE-mac */
