
li.collapsed {
  list-style-type: disc;
  list-style-image: url(../../images/page-multi.png);
}
li.expanded,
li.active-trail,
li.collapsed:hover {
  list-style-type: circle;
  list-style-image: url(../../images/page-multi-active.png);
}
li.leaf {
  list-style-type: square;
  list-style-image: url(../../images/page.png);
}
li.active-menu,
li.leaf:hover {
  list-style-image: url(../../images/page-active.png);
}
