
/**
 * General styles broken up and moved to hex-elements.css. Some styles with
 * color handled by the main hex-colors.css file.
 * 
 * Styles specific to javascripts moved to the "system.css.split" folder.
 * They will be served only when necessary.
 */

/*
** Other common styles
*/
ol.task-list li.active {
  font-weight: bold;
}
.more-link {
  text-align: right; /* LTR */
}
.more-help-link {
  text-align: right; /* LTR */
}
.nowrap {
  white-space: nowrap;
}
.box {
  margin-bottom: 1.5em;
}

/*
** Input format help. Child of .description which uses smaller font size.
*/
.tips {
  margin-left: 1.6365em; /* 18px */
}

/*
** For anything you want to hide on page load when JS is enabled, so
** that you can use the JS to control visibility and avoid flicker.
*/
html.js .js-hide {
  display: none;
}
