
.poll {
  clear: both;
}
.poll .title {
  margin-bottom: .5em;
}
.poll .vote-form .title {
  font-weight: bold;
}
.poll,
.poll .total {
  margin-bottom: 1.5em;
}
.poll .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
.poll .bar .foreground {
  background-color: #000;
  height: 1em;
  float: left; /* LTR */
}
.poll .percent {
  text-align: right; /* LTR */
}

td.poll-chtext {
  width: 80%;
}
td.poll-chvotes .form-text {
  width: 85%;
}
