
.show-grid * {
  background-color: transparent !important;
  background-image: none !important;
}
#page {
  background: white url(grid.png) !important;
}
.show-grid .grid-1:hover,
.show-grid .grid-2:hover,
.show-grid .grid-3:hover,
.show-grid .grid-4:hover,
.show-grid .grid-5:hover,
.show-grid .grid-6:hover,
.show-grid .grid-7:hover,
.show-grid .grid-8:hover,
.show-grid .grid-9:hover,
.show-grid .grid-10:hover,
.show-grid .grid-11:hover,
.show-grid .grid-12:hover,
.show-grid .grid-13:hover,
.show-grid .grid-14:hover,
.show-grid .grid-15:hover,
.show-grid .grid-16:hover,
.show-grid .grid-17:hover,
.show-grid .grid-18:hover,
.show-grid .grid-19:hover,
.show-grid .grid-20:hover,
.show-grid .grid-21:hover,
.show-grid .grid-22:hover,
.show-grid .grid-23:hover,
.show-grid .grid-24:hover,
.show-grid .grid-25:hover,
.show-grid .grid-26:hover,
.show-grid .grid-27:hover,
.show-grid .grid-28:hover,
.show-grid .grid-29:hover,
.show-grid .grid-29:hover {
  background-color: rgba(0, 255, 255, .1) !important;
  outline: 1px solid #d66;
}
.show-grid .grid-box-row:hover {
  background-color: rgba(255, 0, 255, .2) !important;
  outline: 1px solid #d6d;
}
.show-grid .grid-box:hover {
  background-color: rgba(255, 255, 0, .2) !important;
  outline: 1px solid #6dd;
}
