
/**
 * Container for auto margins.
 * Use in combination with .grid-x class for overall width.
 */
body .page-bounds {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* Only for child elements of .grid-x assigned elements. */
.inset,
.gutter {
  margin-left: 10px;
  margin-right: 10px;
}

/**
 * Set up floats. Lateral margins and padding will break this. Avoid them.
 * Any gutters should be set on inner elements.
 */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24 {
  float: left; /* LTR */
  position: relative; /* This allows push & pull classes to work. */
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.grid-1  { width: 40px; }
.grid-2  { width: 80px; }
.grid-3  { width: 120px; }
.grid-4  { width: 160px; }
.grid-5  { width: 200px; }
.grid-6  { width: 240px; }
.grid-7  { width: 280px; }
.grid-8  { width: 320px; }
.grid-9  { width: 360px; }
.grid-10 { width: 400px; }
.grid-11 { width: 440px; }
.grid-12 { width: 480px; }
.grid-13 { width: 520px; }
.grid-14 { width: 560px; }
.grid-15 { width: 600px; }
.grid-16 { width: 640px; }
.grid-17 { width: 680px; }
.grid-18 { width: 720px; }
.grid-19 { width: 760px; }
.grid-20 { width: 800px; }
.grid-21 { width: 840px; }
.grid-22 { width: 880px; }
.grid-23 { width: 920px; }
.grid-24 { width: 960px; }

/**
 * Use these classes on an element to push it into the next column,
 * or to pull it into the previous column. Works in conjunction with .grid-X
 * classes due to relative positioning.
 */
.pull-1  { left: -40px; } /* LTR... */
.pull-2  { left: -80px; }
.pull-3  { left: -120px; }
.pull-4  { left: -160px; }
.pull-5  { left: -200px; }
.pull-6  { left: -240px; }
.pull-7  { left: -280px; }
.pull-8  { left: -320px; }
.pull-9  { left: -360px; }
.pull-10 { left: -400px; }
.pull-11 { left: -440px; }
.pull-12 { left: -480px; }
.pull-13 { left: -520px; }
.pull-14 { left: -560px; }
.pull-15 { left: -600px; }
.pull-16 { left: -640px; }
.pull-17 { left: -680px; }
.pull-18 { left: -720px; }
.pull-19 { left: -760px; }
.pull-20 { left: -800px; }
.pull-21 { left: -840px; }
.pull-22 { left: -880px; }
.pull-23 { left: -920px; }

.push-1  { left: 40px; } /* LTR... */
.push-2  { left: 80px; }
.push-3  { left: 120px; }
.push-4  { left: 160px; }
.push-5  { left: 200px; }
.push-6  { left: 240px; }
.push-7  { left: 280px; }
.push-8  { left: 320px; }
.push-9  { left: 360px; }
.push-10 { left: 400px; }
.push-11 { left: 440px; }
.push-12 { left: 480px; }
.push-13 { left: 520px; }
.push-14 { left: 560px; }
.push-15 { left: 600px; }
.push-16 { left: 640px; }
.push-17 { left: 680px; }
.push-18 { left: 720px; }
.push-19 { left: 760px; }
.push-20 { left: 800px; }
.push-21 { left: 840px; }
.push-22 { left: 880px; }
.push-23 { left: 920px; }

.clear {
  clear: left; /* LTR */
}
br.clear {
  line-height: 0;
}
