
/* An extension of grid.css when the full page layout width is greater than 24 grid units. */
.grid-25,
.grid-26,
.grid-27,
.grid-28,
.grid-29,
.grid-30,
.grid-31,
.grid-32 {
  float: left; /* LTR */
  position: relative; /* This allows push & pull classes to work. */
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.grid-25 { width: 1000px; }
.grid-26 { width: 1040px; }
.grid-27 { width: 1080px; }
.grid-28 { width: 1120px; }
.grid-29 { width: 1160px; }
.grid-30 { width: 1200px; }
.grid-31 { width: 1240px; }
.grid-32 { width: 1280px; }

.pull-24 { left: -960px; } /* LTR... */
.pull-25 { left: -1000px; }
.pull-26 { left: -1040px; }
.pull-27 { left: -1080px; }
.pull-28 { left: -1100px; }
.pull-29 { left: -1140px; }
.pull-30 { left: -1180px; }
.pull-31 { left: -1200px; }

.push-24 { left: 960px; } /* LTR... */
.push-25 { left: 1000px; }
.push-26 { left: 1040px; }
.push-27 { left: 1080px; }
.pull-28 { left: 1100px; }
.pull-29 { left: 1140px; }
.pull-30 { left: 1180px; }
.pull-31 { left: 1200px; }
