
.grid-25,
.grid-26,
.grid-27,
.grid-28,
.grid-29,
.grid-30,
.grid-31,
.grid-32 {
  float: right;
}

.pull-22 { right: -880px; }
.pull-23 { right: -920px; }
.pull-24 { right: -960px; }
.pull-25 { right: -1000px; }
.pull-26 { right: -1040px; }
.pull-27 { right: -1080px; }
.pull-28 { right: -1100px; }
.pull-29 { right: -1140px; }
.pull-30 { right: -1180px; }
.pull-31 { right: -1200px; }

.push-22 { right: 880px; }
.push-23 { right: 920px; }
.push-24 { right: 960px; }
.push-25 { right: 1000px; }
.push-26 { right: 1040px; }
.push-27 { right: 1080px; }
.pull-28 { right: 1100px; }
.pull-29 { right: 1140px; }
.pull-30 { right: 1180px; }
.pull-31 { right: 1200px; }
