
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24 {
  float: right;
}

.pull-1  { right: -40px; }
.pull-2  { right: -80px; }
.pull-3  { right: -120px; }
.pull-4  { right: -160px; }
.pull-5  { right: -200px; }
.pull-6  { right: -240px; }
.pull-7  { right: -280px; }
.pull-8  { right: -320px; }
.pull-9  { right: -360px; }
.pull-10 { right: -400px; }
.pull-11 { right: -440px; }
.pull-12 { right: -480px; }
.pull-13 { right: -520px; }
.pull-14 { right: -560px; }
.pull-15 { right: -600px; }
.pull-16 { right: -640px; }
.pull-17 { right: -680px; }
.pull-18 { right: -720px; }
.pull-19 { right: -760px; }
.pull-20 { right: -800px; }
.pull-21 { right: -840px; }
.pull-22 { right: -880px; }
.pull-23 { right: -920px; }

.push-1  { right: 40px; }
.push-2  { right: 80px; }
.push-3  { right: 120px; }
.push-4  { right: 160px; }
.push-5  { right: 200px; }
.push-6  { right: 240px; }
.push-7  { right: 280px; }
.push-8  { right: 320px; }
.push-9  { right: 360px; }
.push-10 { right: 400px; }
.push-11 { right: 440px; }
.push-12 { right: 480px; }
.push-13 { right: 520px; }
.push-14 { right: 560px; }
.push-15 { right: 600px; }
.push-16 { right: 640px; }
.push-17 { right: 680px; }
.push-18 { right: 720px; }
.push-19 { right: 760px; }
.push-20 { right: 800px; }
.push-21 { right: 840px; }
.push-22 { right: 880px; }
.push-23 { right: 920px; }

.clear {
  clear: right;
}
