
/*
** general elements
*/
hr {
  height: 0;
  border-width: .0833em; /* 1px */
  border-style: solid;
  border-bottom: none;
  margin: 1.5em 0 1.4167em; /* 18px 17px */
}

img.alpha {
  float: left; /* LTR */
  margin: 0 1em 1.5em 0; /* LTR */
}
img.omega {
  float: right; /* LTR */
  margin: 0 0 1.5em 1em; /* LTR */
}

/*
** lists
*/
ul,
ol,
dl {
  margin: 0 0 1.5em 0;
}
li ul,
li ol {
  margin: 0 0 0 1.5em; /* LTR */
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dd {
  margin: 0 0 1.5em 1.5em; /* LTR */
}

ul.links {
  margin: 0;
  padding: 0;
}
ul.inline {
  padding: 0 .5em;
}
ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 .5em;
  white-space: nowrap;
}
ul.links li.first {
  padding: 0 .5em 0 .25em; /* LTR */
}
ul.links li.last {
  padding: 0 .25em 0 .5em; /* LTR */
}

.item-list {
  margin-bottom: 1.5em;
}
.item-list .icon {
  float: right; /* LTR */
  padding: 0 0 0 0.25em; /* LTR */
  clear: right; /* LTR */
}
.item-list .title {
  font-weight: bold;
}

/*
** tables
*/
table {
  width: 100%;
  margin-bottom: 1.5em;
}
td,
th {
  padding: .5em;
  text-align: left; /* LTR */
  vertical-align: top;
}
th {
  font-weight: bold;
}
thead th {
  padding-bottom: .25em; /* 3px */
  border-bottom-width: .25em; /* 3px */
  border-bottom-style: solid;
  white-space: nowrap;
}
td img {
  vertical-align: top;
}
th a img {
  padding: 0 .5em;
}

/*
** forms
*/

/*
** Common 18px lower margins.
*/
form,
fieldset,
.form-element,
form .description,
input.form-submit {
  margin-top: 0;
  margin-bottom: 1.5em;
}

/*
** Common 6px lower margins.
*/
.form-element label,
.form-checkboxes,
.form-checkboxes .form-checkbox-wrapper,
.form-radios,
.form-radios .form-radio-wrapper,
input,
select,
textarea {
  margin-top: 0;
  margin-bottom: .5em;
}

.form-checkbox,
.form-radio,
form table .form-element {
  margin-bottom: 0;
}
/*
** This groups checkboxes and radio buttons together when they are not wrapped
** in theme_radios and theme_checkboxes.
*/
*:not(.form-checkboxes)>.form-checkbox-wrapper + .form-checkbox-wrapper,
*:not(.form-radios)>.form-radio-wrapper + .form-radio-wrapper {
  margin-top: -1em; /* -12px */
}

fieldset {
  padding: .9167em; /* 11px */
  border-width: .0833em; /* 1px */
  border-style: solid;
}
/*
** Remove lower margins on the last element within fieldsets to prevent the
** disproportionate ammount of spacing.
*/
fieldset>*:not(.fieldset-wrapper):not([type=hidden]):last-child,
.fieldset-wrapper>*:not([type=hidden]):last-child {
  margin-bottom: 0;
}

legend {
  font-size: 1.25em; /* 15px */
  padding: 0 .4em;
  margin: 0 -.4em;
}
input,
textarea,
select {
  font-size: inherit;
  line-height: inherit;
}
textarea {
  border-width: .0833em; /* 1px */
  border-style: solid;
  min-height: 12em;
}

.form-element label {
  display: block;
  font-weight: bold;
}
.form-element label.option {
  font-weight: normal;
}
.form-required {
  font-weight: normal;
  font-size: 0.9167em; /* 11px */
}
.form-element .description {
  font-size: 0.9167em; /* 11px */
  line-height: 1.3636em; /* 15px */
  margin-bottom: 0.5455em; /* 6px */
}
/*
** Correct margins based on 11px font size. Multiple declarations of font
** sizes when one is a child of another will throw it off.
*/
.form-element .description p,
.form-element .description ul {
  margin-bottom: 0.5455em; /* 6px */
}

/*
** Inline items (need to override above)
*/
.container-inline div,
.container-inline label {
  display: inline;
}
.container-inline .form-element,
.container-inline .form-submit {
  margin-bottom: 0;
}
