
img.alpha {
  float: right;
  margin: 0 0 1.5em 1em;
}
img.omega {
  float: left;
  margin: 0 1em 1.5em 0;
}

li ul,
li ol {
  margin: 0 1.5em 0 0;
}
dd {
  margin-left: 0;
  margin-right: 1.5em;
}
ul.links li.first {
  padding: 0 .25em 0 .5em;
}
ul.links li.last {
  padding: 0 .5em 0 .25em;
}
.item-list .icon {
  float: left;
  padding: 0 .25em 0 0;
  clear: left;
}

td,
th {
  text-align: right;
}
