
/*
** For development only.
*/

/*
** Body alignment guide.
*/
body {
  background-image: url(../images/vinterval-bg-18.png) !important;
  background-position: top left !important;
  background-color: #fff !important;
}

/*
** Apply a visual guide to aid vertical rhythm. Base line-height set for 18px. 
*/
div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,img,dl,ol,ul,table,th,td,textarea {
  background-image: url(../images/vinterval-fg-18.png) !important;
  background-position: top left !important;
  background-color: transparent !important;
}

fieldset {
  background-color: rgba(255,255,255,.5);
}

/*
** Offset for elements with .5em padding which equals 6px.
*/
th,td {
  background-position: 0 6px !important;
}

/*
** Anything using a smaller font size with a line-height of 15px.
*/
.form-element .description,
.form-element .description ul,
div.admin-dependencies,
div.admin-required,
div.incompatible,
div.password-description,
.search-results .search-info {
  background-image: url(../images/vinterval-fg-15.png) !important;
}
