
#page-content-wrapper,
#blocks-left,
#blocks-right {
  float: right;
}
.one-sidebar #blocks-left {
  margin-right: -80em;
  margin-left: 0;
}
.sidebar-left #page-content-wrapper {
  margin-right: 17em;
  margin-left: 0;
}
.two-sidebars #page-content-wrapper {
  margin-right: 17em;
  margin-left: 0;
}
.two-sidebars #blocks-left {
  margin-right: -63em;
  margin-left: 0;
}
.sidebar-right #blocks-right,
.two-sidebars #blocks-right {
  margin-right: 2em;
  margin-left: 0;
}
#site-branding {
  float: right;
}
#site-navigation {
  float: left;
}
