
/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.

  Modified for Drupal. See README.txt
*/

/* `Containers -------------------------------------------------------------*/

.container-12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* `Grid >> Global ---------------------------------------------------------*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last) -------------------------*/

.alpha { margin-left: 0; }
.omega { margin-right: 0; }

/* `Grid >> 12 Columns -----------------------------------------------------*/

.grid-1  { width:  60px; }
.grid-2  { width: 140px; }
.grid-3  { width: 220px; }
.grid-4  { width: 300px; }
.grid-5  { width: 380px; }
.grid-6  { width: 460px; }
.grid-7  { width: 540px; }
.grid-8  { width: 620px; }
.grid-9  { width: 700px; }
.grid-10 { width: 780px; }
.grid-11 { width: 860px; }
.grid-12 { width: 940px; }

/* `Prefix Extra Space >> 12 Columns ---------------------------------------*/

.prefix-1  { padding-left:  80px; }
.prefix-2  { padding-left: 160px; }
.prefix-3  { padding-left: 240px; }
.prefix-4  { padding-left: 320px; }
.prefix-5  { padding-left: 400px; }
.prefix-6  { padding-left: 480px; }
.prefix-7  { padding-left: 560px; }
.prefix-8  { padding-left: 640px; }
.prefix-9  { padding-left: 720px; }
.prefix-10 { padding-left: 800px; }
.prefix-11 { padding-left: 880px; }

/* `Suffix Extra Space >> 12 Columns ---------------------------------------*/

.suffix-1  { padding-right:  80px; }
.suffix-2  { padding-right: 160px; }
.suffix-3  { padding-right: 240px; }
.suffix-4  { padding-right: 320px; }
.suffix-5  { padding-right: 400px; }
.suffix-6  { padding-right: 480px; }
.suffix-7  { padding-right: 560px; }
.suffix-8  { padding-right: 640px; }
.suffix-9  { padding-right: 720px; }
.suffix-10 { padding-right: 800px; }
.suffix-11 { padding-right: 880px; }

/* `Push Space >> 12 Columns -----------------------------------------------*/

.push-1  { left:  80px; }
.push-2  { left: 160px; }
.push-3  { left: 240px; }
.push-4  { left: 320px; }
.push-5  { left: 400px; }
.push-6  { left: 480px; }
.push-7  { left: 560px; }
.push-8  { left: 640px; }
.push-9  { left: 720px; }
.push-10 { left: 800px; }
.push-11 { left: 880px; }

/* `Pull Space >> 12 Columns -----------------------------------------------*/

.pull-1  { left:  -80px; }
.pull-2  { left: -160px; }
.pull-3  { left: -240px; }
.pull-4  { left: -320px; }
.pull-5  { left: -400px; }
.pull-6  { left: -480px; }
.pull-7  { left: -560px; }
.pull-8  { left: -640px; }
.pull-9  { left: -720px; }
.pull-10 { left: -800px; }
.pull-11 { left: -880px; }

/* `Clear Floated Elements -------------------------------------------------*/

.clear   { clear: left; }
br.clear { line-height: 0; }
