
/*
** Drupal right to left language support. 
*/

/* Container >> 24 Columns -------------------------------------------------*/

.container-24 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* Grid >> Global ----------------------------------------------------------*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24 { float: right; }

/* Grid >> Children (Alpha ~ First, Omega ~ Last) --------------------------*/

/*
** Allow both .alpha and .omega classes to be applied to the same element.
** Star selector used to prevent .omega from resetting .alpha's left margin.
*/

* .alpha {
  margin-left: 10px;
}
.alpha {
  margin-right: 0;
}
.omega {
  margin-left: 0;
  margin-right: 10px;
}

/* `Prefix and Suffix Extra Space Reset >> 16 Columns ----------------------*/

.prefix-1,
.prefix-2,
.prefix-3,
.prefix-4,
.prefix-5,
.prefix-6,
.prefix-7,
.prefix-8,
.prefix-9,
.prefix-10,
.prefix-11,
.prefix-12,
.prefix-13,
.prefix-14,
.prefix-15,
.prefix-16,
.prefix-17,
.prefix-18,
.prefix-19,
.prefix-20,
.prefix-21,
.prefix-22,
.prefix-23 { padding-left: 0; }
.suffix-1,
.suffix-2,
.suffix-3,
.suffix-4,
.suffix-5,
.suffix-6,
.suffix-7,
.suffix-8,
.suffix-9,
.suffix-10,
.suffix-11,
.suffix-12,
.suffix-13,
.suffix-14,
.suffix-15,
.suffix-16,
.suffix-17,
.suffix-18,
.suffix-19,
.suffix-20,
.suffix-21,
.suffix-22,
.suffix-23 { padding-right: 0; }

/* Prefix Extra Space >> 24 Columns ----------------------------------------*/

.prefix-1  { padding-right:  40px; }
.prefix-2  { padding-right:  80px; }
.prefix-3  { padding-right: 120px; }
.prefix-4  { padding-right: 160px; }
.prefix-5  { padding-right: 200px; }
.prefix-6  { padding-right: 240px; }
.prefix-7  { padding-right: 280px; }
.prefix-8  { padding-right: 320px; }
.prefix-9  { padding-right: 360px; }
.prefix-10 { padding-right: 400px; }
.prefix-11 { padding-right: 440px; }
.prefix-12 { padding-right: 480px; }
.prefix-13 { padding-right: 520px; }
.prefix-14 { padding-right: 560px; }
.prefix-15 { padding-right: 600px; }
.prefix-16 { padding-right: 640px; }
.prefix-17 { padding-right: 680px; }
.prefix-18 { padding-right: 720px; }
.prefix-19 { padding-right: 760px; }
.prefix-20 { padding-right: 800px; }
.prefix-21 { padding-right: 840px; }
.prefix-22 { padding-right: 880px; }
.prefix-23 { padding-right: 920px; }

/* Suffix Extra Space >> 24 Columns ----------------------------------------*/

.suffix-1  { padding-left:  40px; }
.suffix-2  { padding-left:  80px; }
.suffix-3  { padding-left: 120px; }
.suffix-4  { padding-left: 160px; }
.suffix-5  { padding-left: 200px; }
.suffix-6  { padding-left: 240px; }
.suffix-7  { padding-left: 280px; }
.suffix-8  { padding-left: 320px; }
.suffix-9  { padding-left: 360px; }
.suffix-10 { padding-left: 400px; }
.suffix-11 { padding-left: 440px; }
.suffix-12 { padding-left: 480px; }
.suffix-13 { padding-left: 520px; }
.suffix-14 { padding-left: 560px; }
.suffix-15 { padding-left: 600px; }
.suffix-16 { padding-left: 640px; }
.suffix-17 { padding-left: 680px; }
.suffix-18 { padding-left: 720px; }
.suffix-19 { padding-left: 760px; }
.suffix-20 { padding-left: 800px; }
.suffix-21 { padding-left: 840px; }
.suffix-22 { padding-left: 880px; }
.suffix-23 { padding-left: 920px; }

/* Push Space >> 24 Columns ------------------------------------------------*/

.push-1  { right:  40px; }
.push-2  { right:  80px; }
.push-3  { right: 120px; }
.push-4  { right: 160px; }
.push-5  { right: 200px; }
.push-6  { right: 240px; }
.push-7  { right: 280px; }
.push-8  { right: 320px; }
.push-9  { right: 360px; }
.push-10 { right: 400px; }
.push-11 { right: 440px; }
.push-12 { right: 480px; }
.push-13 { right: 520px; }
.push-14 { right: 560px; }
.push-15 { right: 600px; }
.push-16 { right: 640px; }
.push-17 { right: 680px; }
.push-18 { right: 720px; }
.push-19 { right: 760px; }
.push-20 { right: 800px; }
.push-21 { right: 840px; }
.push-22 { right: 880px; }
.push-23 { right: 920px; }

/* Pull Space >> 24 Columns ------------------------------------------------*/

.pull-1  { right:  -40px; }
.pull-2  { right:  -80px; }
.pull-3  { right: -120px; }
.pull-4  { right: -160px; }
.pull-5  { right: -200px; }
.pull-6  { right: -240px; }
.pull-7  { right: -280px; }
.pull-8  { right: -320px; }
.pull-9  { right: -360px; }
.pull-10 { right: -400px; }
.pull-11 { right: -440px; }
.pull-12 { right: -480px; }
.pull-13 { right: -520px; }
.pull-14 { right: -560px; }
.pull-15 { right: -600px; }
.pull-16 { right: -640px; }
.pull-17 { right: -680px; }
.pull-18 { right: -720px; }
.pull-19 { right: -760px; }
.pull-20 { right: -800px; }
.pull-21 { right: -840px; }
.pull-22 { right: -880px; }
.pull-23 { right: -920px; }

/* `Clear Floated Elements -------------------------------------------------*/

.clear   { clear: right; }
