
/*
** Drupal right to left language support. 
*/

/* `Grid >> Global ---------------------------------------------------------*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16 { float: right; }

/* `Grid >> Children (Alpha ~ First, Omega ~ Last) -------------------------*/

/*
** Allow both .alpha and .omega classes to be applied to the same element.
** Star selector used to prevent .omega from resetting .alpha's left margin.
*/

* .alpha {
  margin-left: 10px;
}
.alpha {
  margin-right: 0;
}
.omega {
  margin-left: 0;
  margin-right: 10px;
}

/* `Prefix and Suffix Extra Space Reset >> 16 Columns ----------------------*/

.prefix-1,
.prefix-2,
.prefix-3,
.prefix-4,
.prefix-5,
.prefix-6,
.prefix-7,
.prefix-8,
.prefix-9,
.prefix-10,
.prefix-11,
.prefix-12,
.prefix-13,
.prefix-14,
.prefix-15 { padding-left: 0; }
.suffix-1,
.suffix-2,
.suffix-3,
.suffix-4,
.suffix-5,
.suffix-6,
.suffix-7,
.suffix-8,
.suffix-9,
.suffix-10,
.suffix-11,
.suffix-12,
.suffix-13,
.suffix-14,
.suffix-15 { padding-right: 0; }

/* `Prefix Extra Space >> 16 Columns ---------------------------------------*/

.prefix-1  { padding-right:  60px; }
.prefix-2  { padding-right: 120px; }
.prefix-3  { padding-right: 180px; }
.prefix-4  { padding-right: 240px; }
.prefix-5  { padding-right: 300px; }
.prefix-6  { padding-right: 360px; }
.prefix-7  { padding-right: 420px; }
.prefix-8  { padding-right: 480px; }
.prefix-9  { padding-right: 540px; }
.prefix-10 { padding-right: 600px; }
.prefix-11 { padding-right: 660px; }
.prefix-12 { padding-right: 720px; }
.prefix-13 { padding-right: 780px; }
.prefix-14 { padding-right: 840px; }
.prefix-15 { padding-right: 900px; }

/* `Suffix Extra Space >> 16 Columns ---------------------------------------*/

.suffix-1  { padding-left:  60px; }
.suffix-2  { padding-left: 120px; }
.suffix-3  { padding-left: 180px; }
.suffix-4  { padding-left: 240px; }
.suffix-5  { padding-left: 300px; }
.suffix-6  { padding-left: 360px; }
.suffix-7  { padding-left: 420px; }
.suffix-8  { padding-left: 480px; }
.suffix-9  { padding-left: 540px; }
.suffix-10 { padding-left: 600px; }
.suffix-11 { padding-left: 660px; }
.suffix-12 { padding-left: 720px; }
.suffix-13 { padding-left: 780px; }
.suffix-14 { padding-left: 840px; }
.suffix-15 { padding-left: 900px; }

/* `Push Space >> 16 Columns -----------------------------------------------*/

.push-1  { right:  60px; }
.push-2  { right: 120px; }
.push-3  { right: 180px; }
.push-4  { right: 240px; }
.push-5  { right: 300px; }
.push-6  { right: 360px; }
.push-7  { right: 420px; }
.push-8  { right: 480px; }
.push-9  { right: 540px; }
.push-10 { right: 600px; }
.push-11 { right: 660px; }
.push-12 { right: 720px; }
.push-13 { right: 780px; }
.push-14 { right: 840px; }
.push-15 { right: 900px; }

/* `Pull Space >> 16 Columns -----------------------------------------------*/

.pull-1  { right:  -60px; }
.pull-2  { right: -120px; }
.pull-3  { right: -180px; }
.pull-4  { right: -240px; }
.pull-5  { right: -300px; }
.pull-6  { right: -360px; }
.pull-7  { right: -420px; }
.pull-8  { right: -480px; }
.pull-9  { right: -540px; }
.pull-10 { right: -600px; }
.pull-11 { right: -660px; }
.pull-12 { right: -720px; }
.pull-13 { right: -780px; }
.pull-14 { right: -840px; }
.pull-15 { right: -900px; }

/* `Clear Floated Elements -------------------------------------------------*/

.clear { clear: right; }
