
/* reset backgrounds. */
body:hover,
body:hover *:not(input),
* html * {
  background: none !important;
}

/*
** basic debugging support.
*/

body:hover,
body.show-baseline,
* html body {
  background: #fff url(images/baseline-18px.png) repeat !important;
}
html body:hover,
html body:hover *,
html body:hover a {
  color: #666 !important;
}
body .container-16:hover,
body .container-16.show-columns,
* html .container-16 {
  background: url(images/col-40px.png) repeat !important;
}
body .container-12:hover,
body .container-12.show-columns,
* html .container-12 {
  background: url(images/col-60px.png) repeat !important;
}

.container-12 .grid-1:hover,
.container-12 .grid-2:hover,
.container-12 .grid-3:hover,
.container-12 .grid-4:hover,
.container-12 .grid-5:hover,
.container-12 .grid-6:hover,
.container-12 .grid-7:hover,
.container-12 .grid-8:hover,
.container-12 .grid-9:hover,
.container-12 .grid-10:hover,
.container-12 .grid-11:hover,
.container-12 .grid-12:hover {
  outline: 1px solid #666;
  background: rgba(0, 255, 255, .1) url(images/ruler-12.png) no-repeat -10px 0 !important;
}

.container-16 .grid-1:hover,
.container-16 .grid-2:hover,
.container-16 .grid-3:hover,
.container-16 .grid-4:hover,
.container-16 .grid-5:hover,
.container-16 .grid-6:hover,
.container-16 .grid-7:hover,
.container-16 .grid-8:hover,
.container-16 .grid-9:hover,
.container-16 .grid-10:hover,
.container-16 .grid-11:hover,
.container-16 .grid-12:hover,
.container-16 .grid-13:hover,
.container-16 .grid-14:hover,
.container-16 .grid-15:hover,
.container-16 .grid-16:hover {
  outline: 1px solid #666;
  background: rgba(0, 255, 255, .1) url(images/ruler-16.png) no-repeat -10px 0 !important;
}

/*
** advanced debugging support for modern browsers.
*/

/* full ruler for containers */
.container-12:hover:before,
.container-16:hover:before {
  position: absolute;
  top: 1px;
  opacity: .4;
}
.container-12:hover:before {
  content: url(images/ruler-12.png);
}
.container-16:hover:before {
  content: url(images/ruler-16.png);
}

.container-12 *:hover[class*="grid-"],
.container-16 *:hover[class*="grid-"] {
  background-color: rgba(0, 255, 255, .1) !important;
}

*:hover[class*="grid-"],
*:hover[class*="grid-"] * {
  color: rgba(0, 0, 0, .25) !important;
}
*[class*="grid-"] *:hover {
  color: rgba(0, 0, 0, .75) !important;
/* Uncomment the following to enable hover depth.
  background-color: rgba(255, 0, 0, .1) !important;
*/
}
*:hover[class*="grid-"] img,
*:hover[class*="grid-"] input {
  opacity: .5;
}
*:hover[class*="grid-"] img:hover,
*:hover[class*="grid-"] input:hover {
  opacity: .75;
}
