
/*
** Drupal right to left language support. 
*/

/* `Grid >> Global ---------------------------------------------------------*/

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 { float: right; }

/* `Grid >> Children (Alpha ~ First, Omega ~ Last) -------------------------*/

/*
** Allow both .alpha and .omega classes to be applied to the same element.
** Star selector used to prevent .omega from resetting .alpha's left margin.
*/

* .alpha {
  margin-left: 10px;
}
.alpha {
  margin-right: 0;
}
.omega {
  margin-left: 0;
  margin-right: 10px;
}

/* `Prefix and Suffix Extra Space Reset >> 12 Columns ----------------------*/

.prefix-1,
.prefix-2,
.prefix-3,
.prefix-4,
.prefix-5,
.prefix-6,
.prefix-7,
.prefix-8,
.prefix-9,
.prefix-10,
.prefix-11 { padding-left: 0; }
.suffix-1,
.suffix-2,
.suffix-3,
.suffix-4,
.suffix-5,
.suffix-6,
.suffix-7,
.suffix-8,
.suffix-9,
.suffix-10,
.suffix-11 { padding-right: 0; }

/* `Prefix Extra Space >> 12 Columns ---------------------------------------*/

.prefix-1  { padding-right:  80px; }
.prefix-2  { padding-right: 160px; }
.prefix-3  { padding-right: 240px; }
.prefix-4  { padding-right: 320px; }
.prefix-5  { padding-right: 400px; }
.prefix-6  { padding-right: 480px; }
.prefix-7  { padding-right: 560px; }
.prefix-8  { padding-right: 640px; }
.prefix-9  { padding-right: 720px; }
.prefix-10 { padding-right: 800px; }
.prefix-11 { padding-right: 880px; }

/* `Suffix Extra Space >> 12 Columns ---------------------------------------*/

.suffix-1  { padding-left:  80px; }
.suffix-2  { padding-left: 160px; }
.suffix-3  { padding-left: 240px; }
.suffix-4  { padding-left: 320px; }
.suffix-5  { padding-left: 400px; }
.suffix-6  { padding-left: 480px; }
.suffix-7  { padding-left: 560px; }
.suffix-8  { padding-left: 640px; }
.suffix-9  { padding-left: 720px; }
.suffix-10 { padding-left: 800px; }
.suffix-11 { padding-left: 880px; }

/* `Push Space >> 12 Columns -----------------------------------------------*/

.push-1  { right:  80px; }
.push-2  { right: 160px; }
.push-3  { right: 240px; }
.push-4  { right: 320px; }
.push-5  { right: 400px; }
.push-6  { right: 480px; }
.push-7  { right: 560px; }
.push-8  { right: 640px; }
.push-9  { right: 720px; }
.push-10 { right: 800px; }
.push-11 { right: 880px; }

/* `Pull Space >> 12 Columns -----------------------------------------------*/

.pull-1  { right:  -80px; }
.pull-2  { right: -160px; }
.pull-3  { right: -240px; }
.pull-4  { right: -320px; }
.pull-5  { right: -400px; }
.pull-6  { right: -480px; }
.pull-7  { right: -560px; }
.pull-8  { right: -640px; }
.pull-9  { right: -720px; }
.pull-10 { right: -800px; }
.pull-11 { right: -880px; }

/* `Clear Floated Elements -------------------------------------------------*/

.clear { clear: right; }
