
/*
** Formatting for administration panel.
*/
div.admin .left,
div.admin .right {
  width: 50%;
}
div.admin .left {
  float: left;
}
div.admin .right {
  float: right;
}
div.admin .admin-panel,
div.admin .compact-link,
dl.admin-list dd {
  margin-bottom: 1.5em;
}
dl.admin-list dt {
  font-size: 1.2em;
  line-height: 1.25em;
}
div.admin .left .admin-panel {
  margin-right: 1em;
}
div.admin .right .admin-panel {
  margin-left: 1em;
}

/*
** Module & theme select forms.
** - admin/build/modules
** - admin/build/themes
*/
#system-themes-form table h2 {
  margin-top: 0;
}
#system-themes-form tr td:nth-child(3),
table.package .version {
  direction: ltr; /* version string always left to right. */
  white-space: nowrap;
}
div.admin-dependencies,
div.admin-required,
div.incompatible {
  font-size: 0.9167em; /* 11px */
  line-height: 1.3636em; /* 15px */
  margin: 1.0909em 0; /* 12px */
  color: #666;
}
span.admin-disabled {
  color: #800;
}
span.admin-enabled {
  color: #080;
}
span.admin-missing,
div.incompatible {
  color: #f00;
}

/*
** Formatting for theme configuration.
** - admin/build/themes/settings
*/
.theme-settings-left {
  float: left;
  width: 49%;
}
.theme-settings-right {
  float: right;
  width: 49%;
}
.theme-settings-bottom {
  clear: both;
}

/*
** Formatting for status report.
** - admin/reports/status
*/
tr.merge-down th,
tr.merge-down td {
  padding-bottom: 0;
}
tr.merge-up th,
tr.merge-up td {
  padding-top: 0;
}
table.system-status-report th,
table.system-status-report tr.merge-up td {
  padding-left: 3em; /* LTR */
  padding-right: .5em; /* LTR */
}
table.system-status-report th {
  text-align: left; /* LTR */
  background-repeat: no-repeat;
  background-position: 3% .5em; /* LTR */
  white-space: nowrap;
}
table.system-status-report tr.error th {
  background-image: url(../misc/watchdog-error.png);
}
table.system-status-report tr.warning th {
  background-image: url(../misc/watchdog-warning.png);
}
table.system-status-report tr.ok th {
  background-image: url(../misc/watchdog-ok.png);
}


/*
** Date and time settings page.
** - admin/settings/date-time
*/
.date-container {
  overflow: auto;
  clear: left; /* LTR */
}
.date-container .select-container,
.date-container .custom-container {
  float: left; /* LTR */
}
.date-container .custom-container {
  margin-left: 1.5em; /* LTR */
  margin-right: 0; /* LTR */
  width: 50%;
}
html.js .custom-container label {
  visibility: hidden;
}

/*
** Content fields overview.
** - admin/content/node-type/CONTENT_TYPE/fields
*/
#content-field-overview tr.region td {
  font-weight: bold;
  padding-bottom: .25em;
  border-bottom-width: .25em;
  border-bottom-style: solid;
}

/*
** Used for node filter and user filter forms. Was part of system.css.
** - admin/content/node
** - admin/user/user
*/
dl.multiselect dd.b,
dl.multiselect dd.b .form-element,
dl.multiselect dd.b select {
  width: 16em;
}
dl.multiselect dd.a,
dl.multiselect dd.a .form-element {
  width: 12em;
}
dl.multiselect dt,
dl.multiselect dd {
  float: left; /* LTR */
  margin: 0 .5em 0 0; /* LTR */
}
dl.multiselect .form-element {
  margin-top: 0 !important;
  margin-bottom: .5em;
}
dl.multiselect select {
  margin-bottom: 0;
}
#user-admin-filter ul,
#node-admin-filter ul {
  list-style-type: none;
  margin: 0;
}
#user-admin-buttons,
#node-admin-buttons {
  float: left; /* LTR */
}

/*
** User permission related. Was part of user.css.
** - admin/user/permissions
** - admin/user/permissions/PERM_ID
*/
#permissions td.module {
  font-size: 1.3333em; /* 16px */
  padding-top: 1.125em; /* 18px */
  padding-bottom: .375em; /* 6px */
}
#permissions td.permission {
  padding-left: 2em;
  padding-right: 2em;
}
