
table.system-status-report th,
table.system-status-report tr.merge-up td {
  padding-left: .5em;
  padding-right: 3em;
}
table.system-status-report th {
  text-align: right;
  background-position: 97% .5em;
}
.date-container {
  clear: right;
}
.date-container .select-container,
.date-container .custom-container {
  float: right;
}
.date-container .custom-container {
  margin-left: 0;
  margin-right: 1.5em;
}
dl.multiselect dt,
dl.multiselect dd {
  float: right;
  margin: 0 0 0 .5em;
}
#user-admin-buttons,
#node-admin-buttons {
  float: right;
}
