
#edit-type-wrapper, #edit-severity-wrapper {
  float: left; /* LTR */
  padding-left: 0; /* LTR */
  padding-right: 1em; /* LTR */
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
}
#dblog-filter-form .form-element select.form-select {
  width: 100%;
}
tr.dblog-user {
  background: #ffd;
}
tr.dblog-user .active {
  background: #eed;
}
tr.dblog-content {
  background: #ddf;
}
tr.dblog-content .active {
  background: #cce;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #dfd;
}
tr.dblog-page-not-found .active, tr.dblog-access-denied .active {
  background: #cec;
}
tr.dblog-error {
  background: #ffc9c9;
}
tr.dblog-error .active {
  background: #eeb9b9;
}
