
#profile-fields td.category {
  font-size: 1.3333em; /* 16px */
  padding-top: 1.125em; /* 18px */
  padding-bottom: .375em; /* 6px */
}
#profile-fields tr.category-message {
  color: #999;
}
#profile-fields tr.category-populated {
  display: none;
}
