
div.update,
table.update .project {
  font-size: 1.1667em; /* 14px */
}
table.update .project {
  margin-bottom: .4286em; /* 6px */
}
.update .version-status,
.update td.version-links {
  width: 40%;
}
.update .version-status {
  float: right; /* LTR */
}
.update .version-status .icon {
  padding: 0 1em;
  float: left; /* LTR */
}
.update .version-latest td,
.update .version-also-available td {
  background-color: #eee;
}
.update .version-recommended td {
  background-color: #fff;
}
.update .version-recommended-strong td {
  font-weight: bold;
}
.update div.versions {
  margin-bottom: .5em;
}
.versions .version {
  margin: 0;
}
.current-version,
.new-version {
  direction: ltr; /* Note: version numbers should always be LTR. */
}

.update table.version-security .version-title {
  color: #970F00;
}
.update .security-error {
  font-weight: bold;
  color: #970F00;
}
